.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #dddee3;
  transition: all 1s linear;
}

.promo__text,
.promo__links {
  display: flex;
  justify-content: center;
}

.promo__text {
  background-image: url(../../images/promo-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 207px 0 246px;
}

.promo__title {
  color: #000;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -1.24px;
  margin: 0 auto;
  max-width: 730px;
}

.promo__links {
  background-color: #f5f5f5;
  padding: 26px 0;

}

.promo__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promo__link {
  color: #000;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  padding: 0;
}

.promo__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .promo__text {
    padding: 326px 0 342px;
    background-size: 320px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
  }

  .promo__link {
    font-size: 13px;
  }
  .promo__links {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1024px) {
  .promo__text {
    padding: 184px 0 224px;
    background-size: 320px;
  }

  .promo__links {
    padding: 26px 0;
  }
}
