.search {
  display: flex;
  flex-direction: column;
  padding: 80px 10px 0 10px;
  background-color: #fafafa;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search__area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 9px;
  background: #fff;
  padding: 19px 19px;
}

.search__input {
  border: none;
  padding: 0;
  width: 100%;
  color: #a0a0a0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  outline-style: none;
  background-color: #fff;
}

.search__input:focus {
  border-bottom: 1px solid #3456f3;
}

.search__button {
  background-image: url(../../images/search-form-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  min-width: 34px;
  height: 34px;
  border: none;
  padding: 0;
}

.search__button:hover {
  opacity: .8;
  transition: all .7s linear;
  cursor: pointer;
}

.search__handle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 46px 0 45px;
  margin: 0;
}

.search__handle-text {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-left: 14px;
}

.search__checkbox {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.search__switch {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.search__indicator {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../images/search-switch.svg);
  background-size: cover;
  background-position: center;
  transition: background-image .7s;
}

.search__switch:checked+.search__indicator {
  background-image: url(../../images/search-switch-active.svg);
}

@media screen and (min-width: 768px) {
  .search {
    flex-direction: row;
    padding: 79px 30px 107px;
  }

  .search__wrapper {
    flex-direction: row;
    border-radius: 9px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  }

  .search__area {
    border-radius: 9px 0 0 9px;
    border-bottom: none;
    background-color: #fff;
    padding-right: 19px;
  }

  .search__area::before {
    content: url(../../images/search-icon.svg);
    background: transparent;
    min-width: 34px;
    min-height: 34px;
  }

  .search__input {
    margin-left: 10px;
    font-size: 18px;
  }

  .search__handle {
    padding: 19px 20px 19px;
    border-bottom: none;
    border-radius: 0 9px 9px 0;
    background-color: #fff;
    position: relative;
  }

  .search__handle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 1px;
    background-color: #cbcbcb;
  }

  .search__handle-text {
    font-size: 13px;
  }

  .search__button {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    padding: 75px 50px 50px;
  }
}

@media screen and (min-width: 1280px) {
  .search {
    padding: 68px 70px 69px;
  }

  .search__area {
    padding-right: 19px;
  }

  .search__handle {
    padding: 27px 30px 27px 29px;
  }
}